<div class="panel panel-default">
  <div class="panel-heading"><strong>Roboto under 18pt</strong></div>
  <div class="panel-body font-container">
    <div class="row">
      <div class="col-md-3">
        <div style="font-family:'Roboto'; font-weight:300; font-style:normal; font-size:18px;"> Roboto Normal 300 </div>
      </div>
      <div class="col-md-9">
        <div style="font-family:'Roboto'; font-weight:300; font-style:italic; font-size:18px;"> Roboto Italic 300</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div style="font-family:'Roboto'; font-weight:400; font-style:normal; font-size:18px;"> Roboto Normal 400</div>
      </div>
      <div class="col-md-9">
        <div style="font-family:'Roboto'; font-weight:400; font-style:italic; font-size:18px;"> Roboto Italic 400</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div style="font-family:'Roboto'; font-weight:700; font-style:normal; font-size:18px;"> Roboto Normal 700</div>
      </div>
      <div class="col-md-9">
        <div style="font-family:'Roboto'; font-weight:700; font-style:italic; font-size:18px;"> Roboto Italic 700</div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><strong>Roboto over 18pt</strong></div>
  <div class="panel-body font-container">
    <div class="row">
      <div class="col-md-3">
        <div style="font-family:'Roboto'; font-weight:300; font-style:normal; font-size:22px;"> Roboto Normal 300 </div>
      </div>
      <div class="col-md-9">
        <div style="font-family:'Roboto'; font-weight:300; font-style:italic; font-size:22px;"> Roboto Italic 300</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div style="font-family:'Roboto'; font-weight:400; font-style:normal; font-size:22px;"> Roboto Normal 400</div>
      </div>
      <div class="col-md-9">
        <div style="font-family:'Roboto'; font-weight:400; font-style:italic; font-size:22px;"> Roboto Italic 400</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div style="font-family:'Roboto'; font-weight:700; font-style:normal; font-size:22px;"> Roboto Normal 700</div>
      </div>
      <div class="col-md-9">
        <div style="font-family:'Roboto'; font-weight:700; font-style:italic; font-size:22px;"> Roboto Italic 700</div>
      </div>
    </div>
  </div>
</div>
